@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.encabezado {
    @include cajas(column, null, center, sticky, null);

    background-color: map-get($theme-colors, "color-contraste");

    top: 0;
    @include padmarg(20px, 10px, null);
}

.color {
    color: map-get($theme-colors, "color-texto");
}


@media (min-width: 1024px) {
    
    .encabezado {
        @include cajas(row, space-between, null, null, null);
    }
    
    button:hover {
        color: map-get($theme-colors, "color-titulo");
    }
}