@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.principal {
    @include grillas(1fr, null, "info""ser""prod""car", null, null);
}

.info {
    @include ajustar_area(info);
}

.servicios {
    @include ajustar_area(ser);
}

.productos {
    @include ajustar_area(prod);
}

.car {
    @include ajustar_area(car);
}

.box {
    @include cajas(column, null, null, null, null);
    @include padmarg(20px, 10px, null);
    border: 2px solid $color-contraste;
}

.caja {
    background-color: $color-caja;
    @include padmarg(20px, null, 10px);
}

.fotos {
    @include padmarg(10px, null, null);
    @include grillas(auto, null, null, center, 20);
    background-color: $color-caja;
}

.contenedor {
    @include cajas(column, null, null, null, 30);
    @include padmarg(20px, 10px, null);
}

.cajita {
    border-radius: $borde-radio;
    background-color: $color-contraste;
}

.ajustar_img {
    @include ajustarimg(30vh, null);
    object-fit: cover;
}

.planes {
    @include padmarg(10px, null, null);
    background-color: $color-caja;
}


@media (min-width: 1024px) {

    .principal {
        @include grillas(1fr 1fr, null, "info ser" "prod prod" "car car", null, null);
    }

    .carrusel {
        border: 2px solid $color-contraste;
        @include padmarg(20px, 10px, null);
    }

    .ajustar_img {
        @include ajustarimg(70vh, null);
    }

    .fotos {
        @include grillas(auto auto auto, auto auto, null, center, 20);
    }
}