// $color-fondo: #454545;
// $color-titulo: #ff0000;
// $color-texto: #ffffff;
// $color-links: #bb85ee;
// $color-contraste: #282828;
// $color-caja: #3a3a3a;

$font-titulos: "Merriweather", sans-serif;
$font-texto: 'Times New Roman', Times, sans-serif;
$font-size: auto;
$font-sty: normal;
$font-var: "wdth" 100;

$estilo-lista: none;

$borde-radio: 5%;

$theme-colors: (
    "color-fondo": #454545,
    "color-titulo": #ff0000,
    "color-texto": #ffffff,
    "color-links": #bb85ee,
    "color-contraste": #282828,
    "color-caja": #3a3a3a,
);