@use '../utilities/variables' as *;

.boton {
    background-color: map-get($theme-colors, "color-fondo");
    color: map-get($theme-colors, "color-titulo");
    transition: background-color 0.3s;

    &:active {
        background-color: map-get($theme-colors, "color-texto");
    }

    &:focus {
        background-color: map-get($theme-colors, "color-texto");
    }
}