@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

* {
    @include padmarg(0px, 0px, null);
    box-sizing: border-box;
}

body {
    background-color: $color-fondo;
}

h2, h3, p, li, figcaption {
    color: $color-texto;
}

img {
    display: block;
    @include ajustarimg(auto, 100%);
}
