@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

h1, h2, h3 {
    @include tamaño_fuente(null, 300px);
    font-family: $font-titulos;
    font-optical-sizing: $font-size;
    font-style: $font-sty;
    font-variation-settings: $font-var;
}

h1 {
    @include tamaño_fuente(30px, null);
    color: map-get($theme-colors, "color-titulo");
}

p, li, a, figcaption {
    font-family: $font-texto;
}

h2 {
    @include tamaño_fuente(16px, null);
}

h3 {
    @include tamaño_fuente(13px, null);
}

li {
    list-style: $estilo-lista;
}

a {
    color: map-get($theme-colors, "color-links");
    @include tamaño_fuente(13px, null);
}

@media (min-width: 1024px) {

    h1 {
        @include tamaño_fuente(40px, null);
    }

    h2 {
        @include tamaño_fuente(36px, null);
    }

    h3 {
        @include tamaño_fuente(33px, null);
    }

    a {
        @include tamaño_fuente(16px, null);
    }
}